<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dinosaur Details</title>
    <link rel="stylesheet" href="/details.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>{{name}}</h1>
      <img src={{photo}} alt="photo">
      <span>Weight: {{weight}}</span>
      <dl>
        <dt>Habitats:</dt>
        {{#habitats}}
        <dd>{{.}}</dd>
        {{/habitats}}
      </dl>
      <form class="edit" action="/api/dinosaurs/:id" method="put">
        <p>To edit this dinosaur, enter new info here:</p>
        <input type="text" name="name" value="" placeholder="Name">
        <input type="text" name="photo" value="" placeholder="Enter photo URL here">
        <input type="text" name="color" value="" placeholder="Color">
        <input type="text" name="weight" value="" placeholder="Weight">
        <input type="text" name="habitats" value="" placeholder="Habitat,habitat,habitat">
        <button type="submit" name="button">Edit this dinosaur</button>
      </form>
      <form class="delete" action="/api/dinosaurs/:id" method="delete">
        <p>To delete this dinosaur, press the delete button:</p>
        <button type="submit" name="delete">Delete this dinosaur</button>
      </form>
    </div>
  </body>
</html>
