<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dinosaurs</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>Dinosaurs</h1>
    <div class="wrapper">
      {{#allDinos}}
      <div class="dino">
        <a href="#">{{name}}</a>
        <img src={{photo}} alt="photo">
      </div>
      {{/allDinos}}

      <!-- end of wrapper div -->
    </div>
  </body>
</html>
