<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dinosaurs</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>Dinosaurs</h1>
    <div class="wrapper">
      <div class="dino">
        <a href="#">Tyrannosaurus rex</a>
        <img src="https://thumb1.shutterstock.com/display_pic_with_logo/3076664/509463667/stock-photo-tyrannosaurus-rex-isolated-in-white-509463667.jpg" alt="photo">
      </div>
      <div class="dino">
        <a href="#">Tyrannosaurus rex</a>
        <img src="https://thumb1.shutterstock.com/display_pic_with_logo/3076664/509463667/stock-photo-tyrannosaurus-rex-isolated-in-white-509463667.jpg" alt="photo">
      </div>
      <div class="dino">
        <a href="#">Tyrannosaurus rex</a>
        <img src="https://thumb1.shutterstock.com/display_pic_with_logo/3076664/509463667/stock-photo-tyrannosaurus-rex-isolated-in-white-509463667.jpg" alt="photo">
      </div>
      <div class="dino">
        <a href="#">Tyrannosaurus rex</a>
        <img src="https://thumb1.shutterstock.com/display_pic_with_logo/3076664/509463667/stock-photo-tyrannosaurus-rex-isolated-in-white-509463667.jpg" alt="photo">
      </div>
      <div class="dino">
        <a href="#">Tyrannosaurus rex</a>
        <img src="https://thumb1.shutterstock.com/display_pic_with_logo/3076664/509463667/stock-photo-tyrannosaurus-rex-isolated-in-white-509463667.jpg" alt="photo">
      </div>

      <!-- end of wrapper div -->
    </div>
  </body>
</html>
