<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dinosaurs</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header>
      <h1>Dinosaurs</h1>
    </header>
    <div class="wrapper">
      {{#allDinos}}
      <div class="dino">
        <a href="/details/{{id}}">{{name}}</a>
        <img src={{photo}} alt="photo">
      </div>
      {{/allDinos}}

      <!-- end of wrapper div -->
    </div>
    <form class="add" action="/api/dinosaurs" method="post">
      <h3>Add a Dinosaur</h3>
      <input type="text" name="name" value="" placeholder="Name">
      <input type="text" name="photo" value="" placeholder="Enter photo URL here">
      <input type="text" name="color" value="" placeholder="Color">
      <input type="text" name="weight" value="" placeholder="Weight">
      <input type="text" name="habitats" value="" placeholder="Habitat,habitat,habitat">
      <button type="submit" name="button">Add a Dinosaur</button>
    </form>
  </body>
</html>
